
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>burası Title</title>
</head>
<body>
    <div> burası layout
        @RenderBody()
    </div>
</body>
</html>
