
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Örneği - Kategori</h3>
<br />

<table style="border:1px solid black">
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Eğitim Açıklaması</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Spor Açıklaması</td>
        <td>True</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Eğlence</td>
        <td>Eğlence Açıklaması</td>
        <td>False</td>
    </tr>
</table>
